@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body {
  overflow-x:hidden;
  background: linear-gradient(#774936,#8A5A44,#9D6B53,#B07D62,#C38E70,#CD9777,#D69F7E,#DEAB90,#E6B8A2,#EDC4B3);
  min-height:100vh;
}

header{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  padding:30px 100px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  z-index:100;
}

header .logo{
  color:#fff;
  font-weight:700;
  text-decoration:none;
  font-size:50px;
  text-transform:uppercase;
  letter-spacing:2px;
}

header ul{
  display:flex;
  justify-content:center;
  align-items:center;
  float:right;
}

header ul li{
  list-style: none;
  margin:20px;
  font-size:20px;
}

header ul li a{
  text-decoration:none;
  padding: 6px 15px;
  color:#fff;
  border-radius:25px;
}

header ul li a:hover,header ul li a.active{
  background:#fff;
  color:black;
}


section{
  position:relative;
  width:100%;
  height:100vh;
  padding:100px;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}

section::before{
  content:'';
  position:absolute;
  bottom:0;
  width:100%;
  height:100px;
  background: linear-gradient(to top,#9D6B53,transparent);
  z-index:150;
}

section img{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  pointer-events:none;
}

section img#sun;{
  mix-blend-mode: screen;
}

section img#frontbg{
  z-index:10;
  
}

#text{
  position:absolute;
  right:600px;
  color:#fff;
  white-space:nowrap;
  font-size:30px;
  z-index:9;
  transform:translateX(50px);
  
}

#btn{
  text-decoration:none;
  display:inline-block;
  padding: 8px 30px;
  border-radius:40px;
  background: #fff;
  color:black;
  font-size:14.4px;
  z-index:9;
  transform:translate(100px,40px);
  
}

.sec{
  position: relative;
  padding:100px;
  background:#9D6B53;
}

.sec h2{
  font-size:3.5em;
  margin-bottom: 10px;
  color: #fff;

}

.profile-section {
  position:relative;
  height: 1400px;
  padding: 100px;
  background-color: #9D6B53;
}

.profile_details {
  float: left;
  width: 25%;
  padding-left: 20px;
  padding-top: 100px;
}

.aspect {
  font-weight: bold;
}

.profile_motto {
  float: left;
  width: 20%;
  padding: 100px 150px;
  text-align: center;
}

.part_section {
  height: 100%;
  padding: 0 25px;
}

.part_section ul {
  padding: 10px 0;
}

.part_section li {
  float: left;
  padding: 5px 25px;
}

footer {
  background-color: #9D6B53;
  height: 100px;
}
footer p {
  text-align: center;
  padding-top: 50px;
}

.flip-card {
  background-color: transparent;
  width: 270px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
  float: left;
} 

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #B7CADB;
  color: black;
  transform: rotateY(180deg);
}
